<nb-layout>

    <nb-layout-column class="container">

        <h1>Angularsweeper</h1>

        <!-- i am not proud of this layout -->
        <form style="margin-bottom: 15px" [formGroup]="generateForm" (ngSubmit)="generateMapClick()">
            <div style="margin-bottom: 5px">
                Map will be
                <input type="number" nbInput status="primary" fieldSize="small" min="1" max="40" style="margin-right: 5px" placeholder="Width" formControlName="width"> x
                <input type="number" nbInput status="primary" fieldSize="small" min="1" max="40" style="margin-right: 5px" placeholder="Height" formControlName="height"> with
                <input type="number" nbInput status="primary" fieldSize="small" min="1" max="40" style="margin-right: 5px" placeholder="Bombs" formControlName="bombs"> bombs
            </div>
            <button nbButton type="submit" size="small" status="primary">Generate Map</button>
        </form>

        <div style="display: flex;">
            <app-square-grid *ngIf="isMapGenerated" [mapSize]="mapSize"></app-square-grid>
            <div style="margin-left: 15px">
                <ul>
                    <li>Map size: {{ mapSize?.width }}x{{ mapSize?.height }}</li>
                    <li>Total bombs: {{ generateForm.get('bombs')?.value }}</li>
                    <li>Total flags: {{ flagCount }}</li>
                </ul>
				Left Click to uncover, Right Click to flag
            </div>
        </div>

        <p>
            Bomb and flag icons from <a href="https://icons8.com" target="_blank">Icons8</a>.
        </p>

    </nb-layout-column>

</nb-layout>

<ng-template #winDialog>
    <nb-chat title="You Won!">
        <nb-chat-message sender="Game" message="You won!!!"></nb-chat-message>
        <nb-chat-message sender="You" message="wooo!" reply="true"></nb-chat-message>
    </nb-chat>
</ng-template>

<ng-template #loseDialog>
    <nb-chat title="You lost!">
        <nb-chat-message sender="Game" message="You lost. Oof."></nb-chat-message>
        <nb-chat-message sender="You" message="dang" reply="true"></nb-chat-message>
    </nb-chat>
</ng-template>
